# configuration file

# global has values that apply to all cameras
[global]
interval = 600   		# secs  each recorded video will have 10 min
savepath    = $HOME/data  # path to save videos
binpath     = $HOME/bin   # path where ffmpeg is installed
rundir      = $HOME/run	 # save temp files and control files 
tcp_timeout = 10000000		 # connection timeout in microsecs
videopath   = /var/www/html/videos   # path to save short version of videos

email_to   = myemail@my.email.com    # destination to email
email_acct = gmail		     # email account used by msmtp

# this is the list of cameras, remember to create a new section for each camera
camera_list=living,back,front,garage

[ffmpeg]
verbose   = 31
in_parms  = -nostdin -hide_banner 
out_parms = -vcodec copy -acodec copy -nostats


[living]
location = Living
IP = 192.168.1.5

[back]
location = Backyard
IP = 192.168.1.2

[front]
location = Driveway
IP = 192.168.1.3

[garage]
location = Garage
IP = 192.168.1.4

