
############################################################
# A simple root logger with a Log::Log4perl::Appender::File 
# file appender in Perl.
############################################################
log4perl.rootLogger=ERROR, LOGFILE, console

log4perl.appender.console        = Log::Log4perl::Appender::Screen
log4perl.appender.console.stderr = 0
log4perl.appender.console.layout = \
    Log::Log4perl::Layout::PatternLayout
log4perl.appender.console.layout.ConversionPattern = %d %m %n

log4perl.appender.LOGFILE=Log::Log4perl::Appender::File
log4perl.appender.LOGFILE.filename= \
	sub { "$ENV{'HOME'}/logs/scripts.log" }
log4perl.appender.LOGFILE.mode=append
log4perl.appender.LOGFILE.layout=PatternLayout
log4perl.appender.LOGFILE.layout.ConversionPattern= %d %-5p [%3L:%F{1}] %m%n

log4perl.appender.CIRCLOG=Log::Dispatch::FileRotate
log4perl.appender.CIRCLOG.filename=logrotate.log
log4perl.appender.CIRCLOG.mode=append
log4perl.appender.CIRCLOG.max=3
log4perl.appender.CIRCLOG.DatePattern=yyyy-MM
log4perl.appender.CIRCLOG.layout=PatternLayout
log4perl.appender.CIRCLOG.layout.ConversionPattern= %d %-5p [%3L:%F{1}] %m%n

log4perl.appender.SYSLOG           = Log::Dispatch::Syslog
log4perl.appender.SYSLOG.min_level = warn
log4perl.appender.SYSLOG.facility  = local5
log4perl.appender.SYSLOG.ident     = script
log4perl.appender.SYSLOG.layout    = PatternLayout
log4perl.appender.SYSLOG.layout.ConversionPattern=%p %F{1} %m%n

log4perl.appender.LOG0=Log::Dispatch::FileRotate
log4perl.appender.LOG0.filename= sub { "$ENV{'HOME'}/logs/saveVideo_1.log" }
log4perl.appender.LOG0.mode=append
log4perl.appender.LOG0.max=3
log4perl.appender.LOG0.DatePattern=yyyy-MM
log4perl.appender.LOG0.layout=PatternLayout
log4perl.appender.LOG0.layout.ConversionPattern= %d %-5p [%3L:%F{1}] %m%n

log4perl.appender.LOG1=Log::Dispatch::FileRotate
log4perl.appender.LOG1.filename= sub { "$ENV{'HOME'}/logs/saveVideo_2.log" }
log4perl.appender.LOG1.mode=append
log4perl.appender.LOG1.max=3
log4perl.appender.LOG1.DatePattern=yyyy-MM
log4perl.appender.LOG1.layout=PatternLayout
log4perl.appender.LOG1.layout.ConversionPattern= %d %-5p [%3L:%F{1}] %m%n

log4perl.logger.scripts = DEBUG, LOGFILE , SYSLOG
log4perl.additivity.scripts = 0

log4perl.logger.min00 = INFO, LOG0 , SYSLOG
log4perl.additivity.min00 = 0

log4perl.logger.min10 = INFO, LOG1 , SYSLOG
log4perl.additivity.min10 = 0

log4perl.logger.min20 = INFO, LOG0 , SYSLOG
log4perl.additivity.min20 = 0

log4perl.logger.min30 = INFO, LOG1 , SYSLOG
log4perl.additivity.min30 = 0

log4perl.logger.min40 = INFO, LOG0 , SYSLOG
log4perl.additivity.min40 = 0

log4perl.logger.min50 = INFO, LOG1 , SYSLOG
log4perl.additivity.min50 = 0

